extends layout
block link
	link(rel='stylesheet' href="/stylesheets/project.css")
block content
	h2 내 평가보기
	.cur-project.project-wrapper
		table.project-table
			each ep_result in ep_results
				thead
					tr
						th(scope='cols') 프로젝트명
						th(scope='cols') 성과 점수(평균)
						th(scope='cols') 성과 점수(최대)
						th(scope='cols') 성과 점수(최소)
						th(scope='cols') 소통 점수(평균)
						th(scope='cols') 소통 점수(최대)
						th(scope='cols') 소통 점수(최소)
				tbody 
						tr
							td=ep_result.TITLE
							td=ep_result.pe_agg.avg_pe_score
							td=ep_result.pe_agg.max_pe_score
							td=ep_result.pe_agg.min_pe_score
							td=ep_result.com_agg.avg_com_score
							td=ep_result.com_agg.max_com_score
							td=ep_result.com_agg.min_com_score
				table.project-table
					thead
						tr
							th(scope='cols') No.
							th(scope='cols') 성과 점수
							th(scope='cols') 성과 멘트
							th(scope='cols') 소통 점수
							th(scope='cols') 소통 멘트
					tbody 
						- let i = 1;
						each result in ep_result.results
							tr
								td=i
								- i++
								td=result.PROJ_PE_SCORE
								td=`${result.PROJ_PE_COMMENT ? result.PROJ_PE_COMMENT : '코멘트 없음'}`
								td=result.PROJ_COM_SCORE
								td=`${result.PROJ_COM_COMMENT ? result.PROJ_COM_COMMENT : '코멘트 없음'}`