extends layout
block link
    link(rel='stylesheet' href="/stylesheets/main.css")
block content
    .cur-project.project-wrapper
        .table-title
            h2 전사알림
        table.notice-table.project-table
            thead
                tr
                    th(scope='cols') 공지번호
                    th(scope='cols') 공지제목
                    th(scope='cols') 등록일
            tbody 
                tr
                    td 2
                    td 여름 휴가 기간 중 안전 수칙
                    td 2021-05-27
                tr
                    td 1
                    td 셔틀버스 시간 변경 안내
                    td 2021-05-25
    
    .cur-project.project-wrapper
        .table-title
            h2 진행중인 프로젝트
        table.project-table
            thead
                tr
                    th(scope='cols') 프로젝트명
                    th(scope='cols') 프로젝트 종류
                    th(scope='cols') 프로젝트 기간
            tbody 
            each project_info in projs
                tr(onclick=`location.href="/project/${project_info.PRO_ID}"`)
                    td=project_info['project.PRO_TITLE']
                    td=project_info['project.PRO_TYPE']
                    td=`${project_info['project.PRO_CONTACT_DATE']} ~ ${project_info['project.PRO_END_DATE']}`
            //- each project_info in projs
            //-     tr(onclick=`location.href="/project/${project_info.dataValues.project.PRO_ID}"`)
            //-         td=project_info.dataValues.project.PRO_TITLE
            //-         td=project_info.dataValues.project.PRO_TYPE
            //-         td=`${project_info.dataValues.project.PRO_START_DATE} ~ ${project_info.dataValues.project.PRO_START_DATE}`