extends layout
block link
	link(rel='stylesheet' href="/stylesheets/project.css")
block subTitle
	h2=proj.PRO_TITLE
block content
	.project-info.project-wrapper
		h5 프로젝트 정보
		table.project-table
			thead
				tr
					th(scope='cols') 프로젝트ID
					th(scope='cols') 프로젝트명
					th(scope='cols') 프로젝트 종류
					th(scope='cols') 프로젝트 기간
			tbody 
				tr
					td=proj.PRO_ID
					td=proj.PRO_TITLE
					td=proj.PRO_TYPE
					td=`${proj.PRO_START_DATE} ~ ${proj.PRO_END_DATE}`
			thead
				tr
					th(scope='cols') 주문ID
					th(scope='cols') 고객명
					th(scope='cols') 주문일자
					th(scope='cols') 주문사항
			tbody 
				tr
					td=order.ORDER_ID
					td=order.customer.CUS_NAME
					td=order.ORDER_DATE
					td=order.ORDER_COMMENT
	.project-plan.project-wrapper
		h5 프로젝트 계획정보
		table.project-table
			thead
				tr
					th(scope='cols') 프로젝트 계획ID
					th(scope='cols') 프로젝트 계획 종류
					th(scope='cols') 프로젝트 계획 기간
					th(scope='cols') 의존 계획 ID
					th(scope='cols') 계획 상태
			tbody 
				each plan in pPlans
					tr
						td=plan.PP_ID
						td=plan.PLAN_TYPE
						td=plan.PERIOD
						td #{plan.DEPENDENCY ? plan.DEPENDENCY : "없음"}
						td=plan.STATUS
	.project-emp.project-wrapper
		h5 프로젝트 참여인원
		table.project-table
			thead
				tr
					th(scope='cols') 직원ID
					th(scope='cols') 직무
					th(scope='cols') 직급
					th(scope='cols') 프로젝트 투입일
					th(scope='cols') 프로젝트 투입 종료일
			tbody 
				each emp in employees
					tr
						td=emp.EMP_ID
						td=emp.role.ROLE_NAME
						td=`${emp.EMP_RANK ? emp.EMP_RANK : '정보 없음'}`
						td=emp.EP_START_DATE
						td=emp.EP_END_DATE
	.eval_btn_wrapper
		button(type="button" onclick=`location.href="/manage/proj"`).btn.btn-dark 프로젝트 목록