extends layout
block link
  link(rel='stylesheet' href="/stylesheets/main.css")
block subTitle
  a.btn.btn-secondary(href='/manage/emp/EMP_NAME?dept_name=전체&emp_name=#') 직원 인사 관리
  a.btn.btn-secondary(href='#') 프로젝트 경영 관리
block content
  .cur-project.project-wrapper
    section.search_manage
      h2 프로젝트 정보
      form#form_manage(action='/manage/proj' method='get')
        input(type="search", name="proj_name" placeholder='프로젝트명 입력')
        button(type='submit')#manage_search_btn.btn.btn-primary 검색
    table.project-table
      thead
        tr
          th(scope='cols') 프로젝트명
          th(scope='cols') 프로젝트 종류
          th(scope='cols') 계약금
          th(scope='cols') 투입 인원
          th(scope='cols') 투입 시간
          th(scope='cols') 프로젝트 기간
      tbody 
        each result in results
          tr(onclick=`location.href="/manage/proj/detail/${result.proj.PRO_ID}"`)
            td=result.proj.PRO_TITLE
            td=result.proj.PRO_TYPE
            - var overInt = parseInt(result.proj.CONTRACT_AMOUNT/1000)
            - overInt = overInt != 0 ? `${overInt},` : ''
            td=`${overInt}${result.proj.CONTRACT_AMOUNT%1000},000,000원`
            td=result.NUM_EMP
            td=result.TOTAL_TIME
            td=`${result.proj.PRO_CONTACT_DATE} ~ ${result.proj.PRO_END_DATE}`
