extends layout
block link
	link(rel='stylesheet' href="/stylesheets/search.css")
block subTitle
	h2 검색결과
block content
	.search-info.search-wrapper
		h5=`${dept_name ? dept_name : '전사'}의 ${emp_name ? emp_name : '모든'}직원에 대한 검색결과`
		table.search-table
			thead
				tr
					th(scope='cols') 이름
						a(href=`/search/result/EMP_NAME?dept_name=${dept_name}&emp_name=${emp_name}`)
							if sortCondition == 'EMP_NAME'
								i.fas.fa-long-arrow-alt-up
							else 
								i.fas.fa-long-arrow-alt-down
					th(scope='cols') 직급
						a(href=`/search/result/EMP_RANK?dept_name=${dept_name}&emp_name=${emp_name}`)
							if sortCondition == 'EMP_RANK'
								i.fas.fa-long-arrow-alt-up
							else 
								i.fas.fa-long-arrow-alt-down
					th(scope='cols') 부서
						a(href=`/search/result/DEPT_NAME?dept_name=${dept_name}&emp_name=${emp_name}`)
							if sortCondition == 'DEPT_NAME'
								i.fas.fa-long-arrow-alt-up
							else 
								i.fas.fa-long-arrow-alt-down
			tbody
				each info in search_result
					tr
						td=info.EMP_NAME
						td=info.EMP_RANK
						td=info['dept.DEPT_NAME']